/*====================
=======Structure======
======================*/

main{
    margin: 0 auto;
    width: 90%;
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}


.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}


.desktop-two-columns-aside {
    margin-top: 1rem;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.header-news{
    background-color: hsl(0, 1%, 83%);
    padding: 0.5rem 5%;
    width: 90%;
}

.header-news-today{
    width: 85%;
}

.header-news-today ul{
    display: flex;
    justify-content: space-between;
}

.header-news-today ul li{
    font-size: 0.8rem;
}

.header-news-today ul li:first-child{
    color: hsl(0, 100%, 40%);
    font-weight: 600;
}

.header-news-today ul li:not(:first-child):not(:last-child)::after {
    padding-left: 0.25rem;
    content: "-";
}

.header-news-today ul li:not(:first-child){
    cursor: pointer;
}

.header-news-editorial{
    margin-left: auto;
    width: 50%
}

.header-news-editorial ul{
    display: flex;
    justify-content: space-between;
}

.header-news-editorial ul li{
    font-size: 0.7rem;
    cursor: pointer;
}

.header-news-editorial ul li:not(:last-child)::after {
    content: "|";
    padding-left: 0.5rem;
    color: hsl(0, 0%, 67%);
    font-weight: 600;
}

.header-main{
    background-color: hsl(0, 100%, 40%);
    padding: 1.5rem 5%;
    width: 90%;
}

.header-main-menu svg{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.header-main-menu svg path{
    fill:hsl(0, 0%, 100%);
}

.header-main-logo svg{
    width: 20rem;
    cursor: pointer;
}

.header-main-logo svg path{
    fill:hsl(0, 0%, 100%)
}

.header-main-user{
    margin-left: auto;
    width: 65%;
    margin-top: 0.7rem;
}

.header-main-user-login button{
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header-main-user-login button svg{
    width: 1.6rem;
    height: 1.6rem;
}

.header-main-user-login button{


}

.header-main-user-sign-in button{
    background-color: hsl(47, 100%, 50%);
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    font-style: italic;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Times New Roman",Times,serif;
}

.header .header-menu{
    display: inline;
}


.header-menu{
    background-color: hsl(0, 1%, 83%);
    padding: 0.5rem 5%;
    width: 90%;
}

.header-menu ul{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.header-menu ul li{
    display: inline;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.header-menu ul li svg{
    width: 1.3rem;
    height: 1.3rem;
}

/*====================
=======Banners========
======================*/

.banner{
    cursor: pointer;
    margin: 1rem auto;
    width: max-content;
}

.banner.sticky{
    position: sticky;
    top: 0;
}

/*====================
========News==========
======================*/

.news{
    margin-bottom: 1rem;
}

.news-image{
    cursor: pointer;
}

.news-category span{
    color: hsl(0, 100%, 40%);
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.news-title{
    margin: 0.5rem 0;
}

.news-title:hover{
    cursor: pointer;
}

.news-title h1:hover,
.news-title h3:hover,
.news-title h4:hover{
    color: hsl(0, 100%, 40%);
}

.news-author{
    margin: 0.2rem 0;
}

.news-author span{
    color: hsl(0, 0%, 23%);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}

.news-other h4:hover{
    cursor: pointer;
    color: hsl(0, 100%, 50%);
}

.news-other h4:first-child::before{
    content: "■";
    color: hsl(0, 100%, 50%);
    margin-right: 0.5rem;
}



.news.black{
    background-color: hsl(0, 1%, 18%);
}

.news.black .news-category{
    padding: 0 0.5rem;
}

.news.black .news-category span{
    font-size: 0.8rem;
    color: hsl(0, 2%, 53%);
    cursor: pointer;
}

.news.black .news-title{
    padding: 0 0.5rem;
}

.news.black .news-title h3{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.news.black .news-title:hover{
    color: hsl(0, 3%, 66%);
}

.news.black .news-author {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.news.black .news-author span{
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
}


.news.red{
    background-color: hsl(0, 100%, 40%);
}

.news.red .news-image{
    cursor: pointer;
}

.news.red .news-category span{
    color: hsl(0, 6%, 61%);
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.news.red .news-title h4{
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    cursor: pointer;
}

.news.red .news-title h4:hover{
    color: hsl(0, 3%, 66%);
}

.news.red .news-author span{
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}
