/*====================
=======Structure======
======================*/

header{
    
}

main{
   
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.header .header-menu{
    display: inline;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.header-news{
    background-color: rgb(211, 210, 210);
    padding: 0.5rem 5%;
    width: 90%;
}

.header-news-today{
    width: 85%;
}

.header-news-today ul{
    display: flex;
    justify-content: space-between;
}

.header-news-today ul li{
    font-size: 0.8rem;
}

.header-news-today ul li:first-child{
    color: hsl(0, 100%, 40%);
    font-weight: 600;
}

.header-news-today ul li:not(:first-child):not(:last-child)::after {
    padding-left: 0.25rem;
    content: "-";
}

.header-news-today ul li:not(:first-child){
    cursor: pointer;
}

.header-news-editorial{
    margin-left: auto;
    width: 50%
}

.header-news-editorial ul{
    display: flex;
    justify-content: space-between;
}

.header-news-editorial ul li{
    font-size: 0.7rem;
    cursor: pointer;
}

.header-news-editorial ul li:not(:last-child)::after {
    content: "|";
    padding-left: 0.5rem;
    color: hsl(0, 0%, 67%);
    font-weight: 600;
}

.header-main{
    background-color: #cd0000;
    padding: 1.5rem 5%;
    width: 90%;
}

.header-main.sticky{
    position: sticky;
    top: 0;
}

.header-main-menu svg{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.header-main-menu svg path{
    fill:hsl(0, 0%, 100%);
}

.header-main-logo svg{
    width: 19rem;
    cursor: pointer;
}

.header-main-logo svg path{
    fill:hsl(0, 0%, 100%)
}

.header-main-user{
    margin-left: auto;
    width: 70%;
    margin-top: 0.7rem;
    
}

.header-main-user-login svg{
    width: 1.1rem;
    height: 1.1rem;
}

.header-main-user-login button{
    padding: 0.4rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.header-main-user-sign-in button{
    background-color: #ffc700;
    border-radius: 5px;
    padding: 0.4rem;
    cursor: pointer;
    font-style: italic;
    border: none;
}

.header-menu{
    background-color: rgb(211, 210, 210);
    padding: 0.5rem 5%;
    width: 90%;
}

.header-menu ul li{
    display: inline;
    cursor: pointer;    
}

.header-menu ul{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.header-menu ul li svg{
    width: 1rem;
    height: 1rem;
}


/*====================
=======Banners========
======================*/

.banner{
    width: 85%;
    cursor: pointer;
    padding-left: 3rem;
    margin-top: 1rem;
}

.banner.sticky{
    position: sticky;
    top: 0;
}

/*====================
========News==========
======================*/

.news{
    padding: 0.5rem 5%;
}

.news-image{
    cursor: pointer;
}

.news-category{
    color: red;
    font-size: 0.8rem;
    cursor: pointer;
}

.news-title:hover{
    cursor: pointer;
}

.news-title h1:hover{
    color: red;
}

.news-title h3:hover{
    color: red;
}

.news-title h4:hover{
    color: red;
}

.news-title h3{
    margin-right: 2rem;
}

.news-content{
   
}

.news-author span{
    font-size: 0.8rem;
    color: hsl(0, 0%, 23%);
    cursor: pointer;
}

.news-other h4:hover{
    cursor: pointer;
    color: red;
}

.news-other h4:first-child::before{
    content: "* ";
    color: red;
}

.news-feature{
    background-color: rgb(46, 45, 45);
    margin-left: 2.7rem;
}

.news-feature-image{
    width: 100%;
    cursor: pointer;
}

.news-feature-category span{
    font-size: 0.8rem;
    color: rgb(136, 132, 132);
    padding: 0.5rem;
    cursor: pointer;
}

.news-feature-title h3{
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.news-feature-title h3:hover{
    color: hsl(0, 3%, 66%);
}

.news-feature-author {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}

.news-feature-world{
    background-color: #cd0000;
    margin-right: 0.5rem;
}

.news-feature-world-image{
    cursor: pointer;
}

.news-feature-world-category span{
    color: rgb(161, 148, 148);
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.news-feature-world-title h4{
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.news-feature-world-title h4:hover{
    color: hsl(0, 3%, 66%);
}

.news-feature-world-author span{
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}


